.collapse-item {
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: rgb(39, 32, 41);
    margin: 0.75rem;
    box-shadow:
        rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
        rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0.8em;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.collapse-item h2 {
    width: 100%;
}

.collapse-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}